.post{
    background-color: white;
    position: relative;
    width: 99%;
    margin: 10px 0 0 0;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    display: inline-flex;
    border-radius: 5px;
    transition: all 0.5s;
  }

.postBox{
    width:100%;
    padding: 2rem;
    display: inline-flex;
}

.votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3rem;    
}

.votes h3 {
    padding-bottom: 0.5rem;
}

.mainContent {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    padding-left: 1rem;
    align-items: baseline;
    justify-content: space-between;
}

.postImage {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.postVideo {
    max-width: 100%;
    min-height: 500px;
    max-height: 80vh;
    object-fit: contain;
}

.content {
    overflow: hidden;
    transition: all 1s;
    position: relative;
    z-index: 2;
}

.content:hover{
    cursor: pointer;
}

.overlay{
    position: relative;
}

.overlay::before {
    content: "";
    background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(249,166,5,0) 50%);
    display: inline-flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.overlay:hover{
    content: "expand";
}

.postHeading {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.postSecondary {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.vote {
    background-color: rgb(245, 245, 245);
    color: black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.vote:hover {
    cursor: pointer;
}

.voteCount {
    margin: 1rem 0;
}

h4{
    text-align: left;
}

.postText{
    text-align: left;
}

@media only screen and (max-width: 400px) {
    .postSecondary {
        flex-direction: column;
        align-items: end;
    }


}