#body {
    display:inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: 5rem;
    min-height: 100vh;
  }

.morePosts {
  position: relative;
  flex: 1;
  min-width: 15rem;
  max-width: 25rem;
  height: 15rem;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  margin: 0.1rem;
}

.morePosts button{
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  transition: all 0.5s;
  font-weight: bold;
  cursor: pointer;
}

.morePosts button:active{
  background-color: rgba(255,255,255,0.8);
  font-size: 1.9rem;
}

.morePosts img{
  width: 5rem;
  object-position: center;
}

.hiddenFlexItem{
  position: relative;
  flex: 1;
  min-width: 15rem;
  max-width: 25rem;
  height: 1px;
  content:"";
  visibility: hidden;
  z-index: 2;
  overflow: hidden;
}